body {
    font-family: 'Open Sans', sans-serif;
}

.pad-top {
    padding-top:50px;
}
.pad-top-bottom {
     padding-top:20px;
      padding-bottom:30px;
}
.text-center {
    text-align:center;
}

section {
    padding:40px 0px 40px 0px;
}
p {
    line-height:30px;
    font-size:16px;
    padding:10px 0px 10px 0px;
}
 h1 {
font-weight: 900;
color:rgb(255, 15, 101);
}


.custom-btn-one {
    color: #fff;
   background-color:rgb(0, 0, 1);
   border-color: rgb(255, 15, 101);
}
    .custom-btn-one:hover {
         color: #fff;
        background-color:rgb(0, 0, 1);
    }
    .btn-style-two {
    color: #fff;
background-color: #797979;
border-color: #929292;
border-radius: 1px;
-webkit-border-radius:  1px;
-moz-border-radius:  1px;
}
.btn-style-two:hover {
    color: #fff;
}

 .btn-style-three {
    color: #fff;
background-color: #3BAD72;
border-color: #44EBB5;
border-radius: 0px;
-webkit-border-radius:  0px;
-moz-border-radius:  0px;
}
.btn-style-three:hover {
    color: #fff;
}

#home-sec {
    
    background: url(home.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
background-attachment: fixed;
color:#fff;


}
    #home-sec .overlay {
        padding-top:100px;
        background:rgba(0, 0, 1);
        min-height:790px;
    }
 #home-sec .main-img {
     
    max-height:200px;
    border:5px solid rgb(255, 15, 101);
    cursor:pointer;
}

    #home-sec a,#home a:hover {
        text-decoration:none;
    }
#home-sec .main-img-2 {
     max-height:200px;
   border:5px solid rgb(255, 15, 101);
  cursor:pointer;
}
 

h1 #home-sec{
font-weight: 900;
padding: 20px 0px 0px 0px;
}
#home-sec h2 {
font-weight: 400;
padding: 0px 0px 30px 0px;
color:#fff;
}
#home-sec h3 {
padding: 5px 0px;
color:#fff;
font-weight:800;
}
    #home-sec small {
        color:#fff;
    }
.icon-round {
font-size: 30px;
height: 60px;
width: 60px;
line-height: 60px;
color: #fff;
border:2px solid black;
text-align: center;
border-radius: 50%;
-webkit-transition: 400ms;
-moz-transition: 400ms;
-o-transition: 400ms;
transition: 400ms;
cursor: pointer;
}
    .icon-round:hover {
        background-color:rgb(255, 15, 101);
    }

.icon-round-active {
      background-color:rgb(255, 15, 101);
}

 h1 {
color:#00ADAD;
}

.custom-btn-one {
   border-color: #00ADAD;
}
   
 #home-sec .main-img {     
   border:5px solid #00ADAD;
}
 #home-sec .main-img-2 {
   border:5px solid #00ADAD;
}
    .icon-round:hover {
        background-color:#00ADAD;
    }

.icon-round-active {
      background-color:#00ADAD;
}

.total-likes {
  border:2px solid #FFFFFF;
  border-radius: 50%; 
  padding: 12px 18px;
}

.total-likes:hover {
        background-color:#00ADAD;
    }


.likes-container {
  margin-top: 9px;
  margin-bottom: 10px;
}
.back{
    z-index:2;
}
.show{
    width:600px;
    position:absolute;
    z-index:1;
}