body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 1px;
}
.logo {
    text-align: left;
}
.bodi{
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}
.img-mediu {
    height: 400px;
}
.img-medi {
    height: 100px;
}
body{
            background-color:rgb(245, 222, 179);
        
        }
        #center{
            text-align:center
        }
            h2{
                background-color:green;
            }
            #clg
            {
                color:rgb(26, 15, 247);
            }
            .mal{
                color:rgb(26, 15, 247);
            }


            .header{
                height:1px;
                width:100%;
                background-color:green;
                position:fixed;
                color:white;
                z-index:2;
            }
            #home{
                text-align:left;
                left:10px;
            }
            #log{
                position:absolute;
                top:0px;
                left:800px;
            }
            #sign{
                position:absolute;
                top:0px;
                left:1000px;
                font-weight:bold;
            }
            
    