body {
    font-family: 'Open Sans', sans-serif;
    background-color:wheat;
    }
.header{
     background-color:green;
     color:white;
     padding: 5px 10px;
    }
 a:link {
    color: white;
     }
a:visited {
    color: white;
    }
a:hover { 
    background-color: green;
    }
.footer {
    background-color: green;
    padding: 6px;
    clear: both;
    text-align: center;
    color:white;
    }
#leftbar {
    width: 400px;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    padding-right: 25px;
    }
#rightbar {
        float: right;
        width: 30%;
        margin-left: 10px;
        font-weight: bold;
        font-size: 25px;
      }
